/* Full page background */
.background {
  height: 100vh;
  width: 100%;
  background-image: url("/src/assets/burger.jpg"); /* optional */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* White login card */
.form {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Title */
.form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1px;
}

/* Inputs */
.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

/* Button */
.form button {
  width: 100%;
  padding: 12px;
  background-color: #4aa3df;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.form button:hover {
  background-color: #2f8acb;
}