/* Full screen background */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
  height: 100vh;
  width: 100vw;
  background-image: url('/src/assets/pizza.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

/* White card */
.form {
  background: #f5f5f5;
  width: 500px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.if{
    font-family: 'Caveat', cursive ;
}
/* Inputs */
.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
.form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.form button:hover {
  background-color: #eb6025;
}